div.zoomdiv
{
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 231px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #D0D3D8;
	display: none;
	text-align: center; 
	overflow: hidden;
	margin-top: -1px;
}
img.jqzoom{
	cursor:crosshair;
	position:relative;
}