<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>merchantware</name>
	<displayName><![CDATA[MerchantWare]]></displayName>
	<version><![CDATA[1.0.8]]></version>
	<description><![CDATA[Specialized in providing customized payment processing solutions for businesses nationwide.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to delete your details?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>