#top_container{background:url(bg-top.png) repeat-x;margin:0;padding:0}
#header_infos{color:#FFF;float:left;font-size:10px;margin:4px 20px 0 0;width:360px}
#header_infos #header_shopname{color:#FFF;font-size:20px;font-weight:700}
#header_infos #header_logout{color:#FFF;text-decoration:underline}
#header_search{background:url(searchbar.png) no-repeat;float:right;height:39px;width:356px}
#header_search #bo_query{background:transparent;border:none;color:#FFF;float:left;height:16px;line-height:16px;margin:10px 0 0 30px;outline:0;vertical-align:middle;width:140px}
#header_search #bo_search_type{background:#ECECEC;border:#000;float:left;height:21px;line-height:21px;margin-top:9px;vertical-align:middle;width:90px}
#header_search #bo_search_submit{background:url(searchbutton.png) no-repeat;border:none;color:#FFF;cursor:pointer;float:left;font-size:10px;font-weight:700;height:24px;line-height:24px;margin:7px 0 0 2px;outline:0;padding-bottom:2px;width:79px}
#header_search #bo_search_submit:hover{background-position:0 -24px}
#header_quick{background:url(bg-quick.png) no-repeat;float:right;height:39px;margin-right:1px;width:175px}
#header_quick #quick_select{background:#ECECEC;border:#000;height:21px;line-height:21px;margin:8px 0 0 30px;vertical-align:middle;width:140px}
#header_myaccount{background:url(bg-lang.png) no-repeat;display:block;float:right;height:39px;margin-right:1px;width:39px}
.button{background:#83CA38 url(button-bg.png) repeat-x;border:1px solid #364A14;border-left:1px solid #475B25;border-top:1px solid #475B25;color:#FFF;cursor:pointer;padding:0 5px;height:25px}
.button[disabled=disabled]{background:#E2EBEE;color:#000000}
input.button[disabled=disabled]:hover{background-color:#FFF6D3}
.button:hover{background-position:0 -25px}
.table{border:1px solid #416110;padding:0}
.table th a{text-decoration:underline}
.table a:hover{text-decoration:none}
.table tr th{background:#7AB51D url(thead.png) repeat-x top left;border-bottom:1px solid #416110;color:#FFF;padding:4px 6px}
.table tr td{border-bottom:1px solid #F0EADA;color:#963;font-size:.9em;height:23px;padding:0 4px 0 6px}
.alt_row{background-color:#EFEFEF}
.path_bar{background-color:#E2EBEE;border:1px solid #999;font-family:Trebuchet,Arial,Helvetica,sans-serif;font-size:13px;margin-bottom:20px;padding:5px}
.path_bar a{font-weight:700}
.cat_bar{background-color:#F4E8CD;border:1px solid #999;font-family:Trebuchet,Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;margin-bottom:20px;padding:5px}
.cat_bar a{font-weight:700}
fieldset{background:#FFF;border:1px solid #8E8E8E;font-size:1.1em;margin:0;padding:1em}
legend{background:#7AB51D url(thead.png) repeat-x top left;border:1px solid #364A14;font-weight:700;margin:0;padding:.2em .5em;text-align:left;color:#FFFFFF}
#menu{float:left;height:35px;line-height:normal;margin:13px 0 0;padding:0;width:100%}
#menu li{background:url(bg-tab.png) repeat-x;float:left;height:35px;list-style:none;margin:0 1px 0 0}
#menu li a{color:#FFF;display:block;height:35px;padding:6px 8px 4px 0}
#menu img{display:inline;padding:0 4px;vertical-align:text-bottom}
#menu li.active{background-position:0 -70px}
#menu li.active a{color:#000}
#submenu{background:#E8E8E8 url(bg-subtab.png) repeat-x bottom left;border-bottom:1px solid #CCC;clear:both;color:#666;margin:0;padding:.5em 1em}
#submenu li{display:inline;list-style:none;margin:0 5pt 0 0}
#submenu img{vertical-align:middle}
