<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mailalerts</name>
    <displayName>Mail alerts</displayName>
    <version>2.2</version>
    <description>Sends e-mail notifications to customers and merchants.</description>
    <tab>administration</tab>
    <confirmUninstall>Are you sure you want to delete all customers notifications ?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    
</module>