<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statsdata</name>
    <displayName>Data mining for statistics</displayName>
    <version>1.0</version>
    <description>This module must be enabled if you want to use Statistics</description>
    <tab>analytics_stats</tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>
