<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>carriercompare</name>
	<displayName>Shipping Estimation</displayName>
	<version>1.0</version>
	<description>Module to Compare carrier possibilities before going under the checkout process</description>
	<author>PrestaShop</author>
	<tab>shipping_logistics</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>