<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>referralprogram</name>
    <displayName>Customer referral program</displayName>
    <version>1.4</version>
    <description>Integrate a referral program system to your shop.</description>
    <tab>advertising_marketing</tab>
    <confirmUninstall>All sponsor and friends would be deleted. Do you really want to uninstall this module ?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
