<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>twenga</name>
    <displayName>Twenga API</displayName>
    <version>1.0</version>
    <description>Export your products to Twenga.com and use the Twenga tracker for customer\'s order.</description>
    <tab>smart_shopping</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
