<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cheque</name>
    <displayName>Cheque</displayName>
    <version>2.3</version>
    <description>Module for accepting payments by cheque</description>
    <tab>payments_gateways</tab>
    <confirmUninstall>Are you sure you want to delete your details ?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    
</module>